@import 'customRules';
@import '~bootstrap/scss/bootstrap';

html, body, #app {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0.07rem;;
}

::selection {
  color: $warning;
  background: shade-color($background, 40%);
}
