@import '../../colors';

.runner-menu {
  background-color: shade-color($background, 15%);
  padding: 14px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  user-select: none;
}

.menu-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.07rem;
}

.menu-item-container {
  width: 190px;
}

.menu-item-label {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}

.menu-home {
  padding-left: 0.7rem;
}

.home-button {
  padding: 1rem;
  margin-bottom: 1rem;
}

.icon-home {
  height: 1.2rem;
  width: 1.2rem;
}

.icon-warn {
  height: 1.5rem;
  width: 1.5rem;
  color: $warning;
}

.icon-error {
  height: 1.5rem;
  width: 1.5rem;
  color: $danger;
}
